{% extends "base.html" %}
{% import 'macros.html' as m %}
{% block title %}Summary{% endblock title %}
{% block content %}
  <h1>Summary</h1>
  {% if issues %}
  <table>
    <tr>
      {% for h in headers %}
      <th>{{ h|capitalize() }}</th>
      {% endfor %}
    </tr>
    {% for issue in issues %}
      {{ m.issue_tr( headers, issue ) }}
    {% endfor %}
  </table>
  {% else %}
  <h3>Enter Ticket ID's</h3>
    <p class="instructions">
      For each Epic and/or Story, show the hierarchical summary
      of all subordinate tasks.
    </p>
    <p class="ticket_form">
      <form method="get">
        <label for="ticket_ids">Ticket ID's
          (comma or space separated)
        </label>
        <input
          name="ticket_ids"
          type="text"
          size="30"
          placeholder="svcplan-1 svcplan-2,svcplan-3" />
        <input type="submit">
      </form>
    </p>
  {% endif %}
{% endblock content %}
