<div class="topnav">
	<form method="get">
  <label for="project">Jira Project:</label>
  <input type="text" id="project" name="project" size=10 value="{{ session['jira_project'] }}" />
  <button type="submit" formaction="/sprint_relatives">Sprint Relatives</button>
  <button type="submit" formaction="/lost_children">Lost Children</button>
  </form>

	<form method="get">
  <button type="submit" formaction="/tasks_from_description">Tasks from Description</button>
	<button type="submit" formaction="/add_children">Add Children</button>
  </form>
</div>
